*{
    padding: 0;
    margin: 0;
    outline: 0;
}
.full_wrap{
    width: 100%;
}
.main_wrap{
    width: 80%;
    margin-left: 10%;
}
.clr{
    clear: both;
}
.header{
    background: violet;
}
.header_logo{
    width: 30%;
    float: left;
}
.header_logo img{
    margin-top: 10px;
}
.header_menu{
    width: 70%;
    float: left;
}
.header_menu ul{
    float: right;
}
.header_menu ul li{
    display: inline-block;
}
.header_menu ul li a{
    color: black;
    text-decoration: none;
    padding: 25px 14px;
    display: block;
    transition: all linear .1s;
}
.header_menu ul li a:hover{
    background: rgba(128, 128, 128, 0.39);
    border-bottom: 4px solid #d84315;
}
.about_frst{
    width: 35%;
    float: left;
}
.about_secnd{
    width: 30%;
    float: left;
}
.about_thrd{
    width: 35%;
    float: left;
}
.about_thrd img,
.about_frst img{
    width: 100%;
}
.services{
    width: 33.33%;
    float: left;
    text-align: center;
}